<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello From EJS</h1>
   
    <form action="/save" method="post">
        <div>
            <label for="rollNo">RollNo</label>
            <input type="text" name="rollNo" id="rollNo">
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
           
        </div>
        <div>
            <label for="college">College</label>
            <input type="text" name="college" id="college">
           
        </div>
        <div>
            <label for="dept">Department</label>
            <input type="text" name="dept" id="dept">

        </div>
        <div>
            <label for="city">City</label>
            <input type="text" name="city" id="city">
        </div>
        <div>
            <input type="submit" value="save">
        </div>
        
    </form>
</body>
</html>